/* Скидання стилів */
@import url(reset.css);
@import url(fonts.css);

/* -------------PRACTIS--------------------------------- */
.practis {
	max-width: 1240px;
	margin: 0 auto;
	padding: 30px;
}
.block-1 {
	color: green;
	text-transform: uppercase;
	display: inline-block;
}
.block-1:hover a {
	background: yellow;
	color: red;
	text-decoration: underline;
}
