@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,800&display=swap");
/* @font-face {
	font-family: "Causten";
	src:
		url(../fonts/causten-bold-webfont.woff2) format(woff2),
		url(../fonts/causten-bold-webfont.woff) format(woff);
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
