@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");

/* ----Просто як приклад ------- */
/* @font-face {
  font-family: "Core Sans C";
  src: url(../fonts/CoreSansC-75ExtraBold.woff2) format(woff2);
  font-display: swap;
  font-weight: 800;
  font-style: normal;
} */
