@font-face {
	font-family: "Causten";
	src:
		url(../fonts/causten-bold-webfont.woff2) format(woff2),
		url(../fonts/causten-bold-webfont.woff) format(woff);
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Causten";
	src:
		url(../fonts/causten-regular-webfont.woff2) format(woff2),
		url(../fonts/causten-regular-webfont.woff) format(woff);
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Causten";
	src:
		url(../fonts/causten-semi-bold.woff2) format(woff2),
		url(../fonts/causten-semi-bold.woff) format(woff);
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Core Sans C";
	src:
		url(../fonts/coresansc-65bold-webfont.woff2) format(woff2),
		url(../fonts/coresansc-65bold-webfont.woff) format(woff);
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

